<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
    <link rel="stylesheet" href="../styles/base.css">
    <link rel="stylesheet" href="../styles/layout.css">
</head>
<body>
  <section id="container-form">
    <form action="/searches" method="POST" id="form">
      <section id="textArea">
        <label for="title">Enter title or author</label> <br>
        <input type="text" name="search" placeholder="Enter a title or author" required> 
      </section>
      <section id="radio1">
        <input type="radio" name="searchBy" value="title" required>
        <label for="author">author</label>
      </section>
      <section id="radio2">
        <input type="radio" name="searchBy" value="author" required>
        <label for="author">Titel</label>
      </section>
      <section id="button">
        <button type="submit">Search Books API</button>
      </section>
    </form>
  </section>
</body>
</html>