<!DOCTYPE html>
<html lang="en">
  <%- include('../../layout/head') %>

<body>
  <%- include('../../layout/header') %>

  <h1 id="newh1">My book app</h1> <br>
<h2 id="newh2">Search for book </h2>
  <section id="container-form">
    <form action="/searches" method="POST" id="form">
      <section id="textArea">
        <!-- <label for="title">Enter title or author</label> <br> -->
        <input type="text" name="search" placeholder="Enter a title or author" required> 
      </section>
      <section id="radio1">
        <input type="radio" name="searchBy" value="title" required>
        <label for="author">author</label>
      </section>
      <section id="radio2">
        <input type="radio" name="searchBy" value="author" required>
        <label for="author">Titel</label>
      </section>
      <section id="button">
        <button type="submit">Search Books API</button>
      </section>
    </form>
  </section>
  <%- include('../../layout/footer') %>

</body>
</html>