
#result{
    background-color: gray;
}
#form{
    background-color: gray;
    width: 50%;
    height: 50%;
    text-align: center;
}

#button{
    width: 100%;
    padding: 12px 20px;
    margin: 8px;
    display: inline-block;
    box-sizing: border-box;
}

#radio1,#radio2{
    width: 100%;
    padding: 12px 20px;
    margin: 8px;
    display: inline-block;
}
#textArea{
margin-top: 5%;
}
#container-form{
    margin-left: 20%;
}
#showh1{
    padding: 3px;
    background-color: black;
    color: white;
}
#showh2{
    padding: 3px;
    background-color: rgb(102, 100, 100);
    text-align: center;
    color: white;
}
#newh1{
    padding: 3px;
    background-color: black;
    color: white;
}
#newh2{
    padding: 12px;
    background-color: rgb(102, 100, 100);
    text-align: center;
    color: white;
        margin-top: 0%;

}